@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skills-main-div{
  max-width: 60%;
  margin:auto;
}
.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > svg {
  // color: $subTitle;
}

.software-skill-inline > svg:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 1rem;
}
.software-skill-inline > svg:hover ~ p {
  color: $skillsColor;
}


@media (max-width: 1000px) {
  .software-skills-main-div{
    max-width: 100%;
  margin:auto;

  } 
}